

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');


/* font */
@font-face{
    font-family:'NanumSquare';
    src:url('/fonts/NanumSquareL.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family:'NanumSquare';
    src:url('/fonts/NanumSquareR.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family:'NanumSquare';
    src:url('/fonts/NanumSquareB.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family:'NanumSquareEB';
    src:url('/fonts/NanumSquareRoundEB.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family:'PT Sans Caption';
    src:url('/fonts/PT Sans Caption.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family:'PT Sans Caption';
    src:url('/fonts/PT Sans Caption Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family:'NotoKR';
    src:url('/fonts/NotoKR-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family:'NotoKR';
    src:url('/fonts/NotoKR-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family:'NotoKR';
    src:url('/fonts/NotoKR-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family:'PT C-Sans';
    src:url('/fonts/PTS55F.eot');
    src:url('/fonts/PTS55F.eot?#iefix') format('embedded-opentype'),
    url('/fonts/PTS55F.woff') format('woff');
}
@font-face{
    font-family:'play_basicRI';
    src:url('/fonts/PlayfairDisplay-Italic.woff') format('woff');
}




// @font-face {
//     font-family:'nanum_basicB';
//     src:url('/fonts/NanumSquareB.woff') format('woff');
// }
// @font-face{
//     font-family:'nanum_basicL';
//     src:url('/fonts/NanumSquareL.woff') format('woff');
// }
// @font-face{
//     font-family:'nanum_basicR';
//     src:url('/fonts/NanumSquareR.woff') format('woff');
// }
@font-face{
    font-family:'nanumEB';
    src:url('/fonts/NanumSquareRoundEB.woff') format('woff');
}
// @font-face{
//     font-family:'play_basicR';
//     src:url('/fonts/PlayfairDisplay-Italic.woff') format('woff');
// }
@font-face{
    font-family:'play_basic_Regular';
    src:url('/fonts/PlayfairDisplay-Regular.woff') format('woff');
}
@font-face{
    font-family:'play_basic_Regular';
    src:url('/fonts/PlayfairDisplay-Italic.woff') format('woff');
    font-style: italic, oblique;
}
@font-face{
    font-family:'pt_serif_i';
    src:url('/fonts/PT Serif Italic.woff') format('woff');
}
// @font-face{
//     font-family:'pt_sans_c';
//     src:url('/fonts/PT Sans Caption.woff') format('woff');
// }
// @font-face{
//     font-family:'pt_sans_cB';
//     src:url('/fonts/PT Sans Caption Bold.woff') format('woff');
// }
// @font-face{
//     font-family:'NotoKrM';
//     src:url('/fonts/NotoKR-Medium.woff') format('woff');
// }
// @font-face{
//     font-family:'NotoKrR';
//     src:url('/fonts/NotoKR-Regular.woff') format('woff');
// }
// @font-face{
//     font-family:'NotoKrL';
//     src:url('/fonts/NotoKR-Light.woff') format('woff');
// }
// @font-face{
//     font-family:'PT C-Sans';
//     src:url('/fonts/PTS55F.eot');
//     src:url('/fonts/PTS55F.eot?#iefix')format('embedded-opentype'),
//     url('/fonts/PTS55F.woff') format('woff');
// }

